VITE_CREDITCOIN_RPC_URL=https://rpc.cc3-testnet.creditcoin.network
VITE_ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com
VITE_PROOF_BUILDER_URL=https://prover.cc3-testnet.creditcoin.network
VITE_SOURCE_CHAIN_KEY=3

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_INSTANCE_NAME=
AZURE_OPENAI_API_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-10-21
